* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  left: 0;
  font-family: "Source Sans Pro", sans-serif; }

body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url("../image/login-background.jpg");
  height: 100%;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  body section.container {
    width: 100vw;
    height: 100vh;
    display: flex; }
    body section.container div.content {
      width: 100vw;
      height: 100%;
      display: flex;
      justify-content: center; }
      body section.container div.content div.login {
        width: 350px;
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        background: transparent;
        box-sizing: border-box;
        text-align: center; }
        body section.container div.content div.login h1.title {
          color: white;
          font-size: 37px;
          font-weight: bold; }
        body section.container div.content div.login span {
          color: white; }
        body section.container div.content div.login form input {
          margin: 10% 10% 0 10%;
          width: 80%;
          padding: 5%;
          display: block;
          border: none;
          border-bottom: 1px solid #dadada;
          background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 99%, #dadada 1%);
          background: linear-gradient(bottom, rgba(255, 255, 255, 0) 99%, #dadada 1%);
          background-size: 0 100%;
          background-repeat: no-repeat;
          color: #dadada;
          -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out; }
        body section.container div.content div.login form input:focus {
          outline: none;
          background-size: 100% 100%;
          letter-spacing: 0.75px; }
        body section.container div.content div.login form input::-webkit-input-placeholder {
          -webkit-transition: all 300ms ease-in-out;
          transition: all 300ms ease-in-out; }
        body section.container div.content div.login form input:focus::-webkit-input-placeholder {
          font-size: 11px;
          -webkit-transform: translateY(-25px);
          transform: translateY(-25px);
          visibility: visible !important; }
        body section.container div.content div.login form input:focus:valid::-webkit-input-placeholder {
          color: #E74C3C;
          border-color: #E74C3C; }
        body section.container div.content div.login form span {
          margin: 15px 0px 15px 0px;
          display: block; }
          body section.container div.content div.login form span a {
            text-decoration: none;
            color: white; }
          body section.container div.content div.login form span a:hover {
            text-decoration: none; }
        body section.container div.content div.login form button {
          border: 0;
          border-radius: 25px;
          color: white;
          font-weight: bold;
          background-color: #E74C3C;
          width: 80%;
          height: 40px; }
        body section.container div.content div.login form button:hover {
          cursor: pointer; }
    body section.container footer {
      position: fixed;
      padding-bottom: 8px;
      left: 0;
      bottom: 0;
      width: 100%;
      color: white;
      text-align: center; }

/*# sourceMappingURL=login.css.map */
