$nav-color: #3c8dbc
$nav-title-color: #357ca5
$sidenav-color: #222d32
$sidenav-hover-color: #1F2833
$sidenav-text-color: #b6c8ce
$main-background: #fff

//break declaration
$small: 414px
$middle: 590px
$large: 1080px

//transition declaration
$fast-transition: 250ms
$medium-transition: 500ms
$slow-transition: 750ms

//nav settings
$nav-height: 55px
$sidenav-width: 200px

*
  margin: 0
  padding: 0
  box-sizing: border-box
  font-family: 'Roboto', sans-serif


body
  background-color: $main-background

  //top navigation
  header
    width: 100%
    height: $nav-height
    background: $nav-color
    z-index: 1000 !important
    position: fixed
    overflow: hidden
    top: 0
    left: 0
    div.content
      height: 100%
      width: 100%
      color: white
      div.left-side
        float: left
        width: 55%
        height: 100%
        @media screen and (max-width: $small)
          width: 60%
        div#nav-title
          height: 100%
          float: left
          background: $nav-title-color
          display: flex
          align-items: center
          justify-content: center
          width: $sidenav-width
          min-width: 50px
          @media screen and (max-width: 600px)
            width: 150px
            transition: $medium-transition
          @media screen and (min-width: 601px)
            transition: $medium-transition
          h3
            font-size: 20px
            font-weight: bold
            margin: auto 0 auto 0
        div.toggle
          height: 100%
          width: auto
          display: flex
          align-items: center
          i
            padding-left: 10px
            font-size: 19px
            cursor: pointer
      div.right-side
        float: right
        width: 45%
        height: 100%
        @media screen and (max-width: $small)
          width: 40%
        div.settings
          height: 100%
          width: 100%
          display: flex
          justify-content: flex-end
          a.item:hover
            background: $nav-title-color
          a.item
            width: 50px
            height: 100%
            display: flex
            font-size: 15px
            align-items: center
            justify-content: center
            transition: $fast-transition
            cursor: pointer
          a.notifications
            @media screen and (max-width: $small)
              display: none
          a.profile
            width: auto
            padding: 0px 12px 0px 12px
            font-size: 14px
            img
              width: 25px
              height: 25px
              border-radius: 100%
              margin-right: 5px
            span.username
              @media screen and (max-width: $middle+50px)
                display: none
          a.user-settings
            @media screen and (max-width: $small)
              display: none

  //sidenav and content
  aside.active
    transition-timing-function: ease-in
    transition: $medium-transition
    transform: translateX(-100%)
  aside
    display: block
    position: fixed
    height: 100vh
    width: $sidenav-width
    background: $sidenav-color
    z-index: 800
    overflow: hidden
    transition: $medium-transition
    @media screen and (max-width: 600px)
      width: 150px
    div.profile
      width: 100%
      padding-top: $nav-height + 20px
      padding-bottom: 20px
      display: flex
      align-items: center
      div.image
        width: 40%
        float: left
        height: 100%
        text-align: center
        img
          border-radius: 100%
      div.info
        width: 60%
        float: right
        height: 100%
        display: inline-block
        padding: 5px
        vertical-align: middle
        margin: auto 0 auto 0
        font-weight: bolder
        color: white
        @media screen and (max-width: $small)
          font-size: 14px
        span.rank
          font-size: 12px
          font-weight: normal
    nav.navbar
      width: 100%
      padding: 0
      div.description
        width: 100%
        height: 30px
        background: #192226
        color: #3a525a
        display: table
        span
          font-size: 10px
          display: table-cell
          vertical-align: middle
          padding-left: 10px
      div.active
        border-left: 2.5px solid #3c8dbc !important
        background: #192226
      div.nav-item
        border-left: 2.5px solid $sidenav-color
        width: 100%
        a.top-item:hover
          background: #192226
          color: #b6c8ce
        a.top-item
          padding-left: 3px
          width: 100%
          height: 40px
          display: flex
          align-items: center
          transition: $fast-transition
          font-size: 16px
          color: $sidenav-text-color !important
          text-decoration: none
          div.icon
            display: flex
            align-items: center
            align-content: center
            height: 100%
            width: 20px
            margin: 0px 10px 0px 10px
            i
              font-size: 17px
          div.text
            span
              font-size: 14px

  //content
  section.collapsed-nav
    margin-left: 0px !important
  section.content
    max-width: 100%
    padding: $nav-height+10px 10px 10px 10px
    margin-left: $sidenav-width + 15px
    transition: margin-left $medium-transition
    z-index: 0 !important
    background: $main-background
    @media screen and (max-width: 600px)
      margin-left: 0px
    div.page-title
      width: 100%
      display: flex
      margin-bottom: 20px
      h2.page-name
        font-size: 23px
        margin: auto 0 auto 0
    div.status-bar
      width: 100%
      margin: 0 auto
      div.col-lg-3
        padding: 15px
        height: 150px
        @media screen and (max-width: 1400px)
          width: 50%
        @media screen and (max-width: $small)
          width: 100%
        div.box
          width: 100%
          height: 100%
          border-radius: 10px
          div.left
            float: left
            width: 70%
            height: 100%
            display: flex
            align-items: center
            div.text-holder
              height: auto
              width: 100%
              margin: 0 auto 0 auto
              padding-left: 10px
              color: white
              padding-top: 15px
            h3
              font-weight: bolder
          div.icon-holder
            width: 30%
            height: 100%
            float: right
            display: flex
            justify-content: center
            align-items: center
            color: rgba(0,0,0,0.15)
            overflow: hidden
            i
              font-size: 50px
              transition: 500ms
            i:hover
              font-size: 60px

    //search.html
    div.nav-center
      form
        width: 450px
        height: 42px
        border-radius: 20px
        background: #f1f3f4
        align-items: center
        display: flex
        @media screen and (max-width: $middle)
          width: 85%
        i
          margin-left: 10px
          margin-right: 10px
        input
          margin-left: 15px
          height: auto
          width: 80%
          background: 0
          border: 0
          outline: 0

    div.news
      width: 80%
      margin-bottom: 30px
      border: 1px solid #f1f3f4
      padding: 7.5px
      @media screen and (max-width: $small)
          width: 100% !important
          background: #6ab04c
      div.item-text
        padding: 15px 0px 15px 0px
        div.top
          overflow: hidden
          display: flex
          flex-direction: row
          justify-content: flex-start
          flex-wrap: wrap
          padding-bottom: 17px
          div.title
            width: 70%
            margin: auto
            overflow: hidden
            a
              text-decoration: none
              color: black
              h3.title
                margin: auto
                font-weight: bold
                font-size: 19px
          div.category
            width: 30%
            overflow: hidden
            button.economy
              padding: 1px 15px 1px 15px
              border-radius: 12px
              float: right
              border: 1px solid #E74C3C
              background: 0
              color: #E74C3C
        div.content
          padding-bottom: 17px